* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
 color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 100px;
  white-space: nowrap;
  text-decoration: underline;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: orangered;
}

.nav div {
   display: flex;
  gap: 30px;
}
