* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
 
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  background-color: lightblue;
 
  padding: 20px 40px;
  justify-content: space-between;
}

.nav2 {
  display: flex;
  gap: 30px;
}