* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
 
}

html,
body {
  height: 100%;
  width: 100%;
}

.card {
  background-color: orangered;
  color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.navbar{
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 25px;
  padding: 10px;
}


.footer {
  background-color: white;
  color: black;
  margin: 25px;
  padding: 10px;
  border-radius: 10px;
  font: bold;
}

.Repost {
  background-color: green;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}