/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

button{
  margin: 10px;
  padding: auto;
  background-color: red;
  
} */


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

button{
  margin: 10px;
  padding: auto;
  height: 60px;
  width: 90px;
  background-color: black;
  
}

h1{
  background-image: url(./assets/Screenshot\ 2025-09-24\ 165257.png);
  margin: 10px;
  padding: auto;
  height: 200px;
  width: 200px;
  background: gray;
  
  display: flex;
  align-items: center;
  justify-content: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}



 h1 {
  height: 300px;
  width: 600px;
  background-color:blue;
  margin: 10px;

  display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 10px;

}

button {
 height: 100px;
 width: 200px;
 margin: 50px;
 padding: 20px;
 background-color: aqua;
 border-radius: 10px;
 
}